.slider-div {
	height: 290px;
}
.carousel {
	height: 250px;
	margin-bottom: 50px;
}
.carousel-caption {
	z-index: 5;
}
.carousel .item {
	background-color: rgba(1, 1, 35, 0.3);
	height: 250px;
}
.auth-form {
	padding: 10px;
}
.main-block {
	margin-top: 65px;
}
.main-block2 {
	margin-top: 40px;
}
#imaginary_container{
	margin-top: 10px;
	margin-right: 10px;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
	width: 50px;
}
.stylish-input-group .form-control{
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
body {
	background: url(../images/aut_background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
	min-height: 400px;
	width: 100%;

	background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.q-field {
	margin-left: 10px;
	margin-top: 10px;
	width: 800px;
}
.q-label {
	float: left;
}

.q-form {
	padding: 10px;
}

#q-ta {
	resize: vertical;
}

.error{
	color: red;
}

.rating {
	margin-top: 30px;
}
